<!doctype html>

{% extends 'base' %} {% block title %}jot | home{% endblock %} {% block
description %}Capture your fleeting thoughts{% endblock %} {% block contents %}
<div id="header">
  <span style="float: right">
    {{ user.name }} (<a href="/logout">logout</a>)
  </span>
  <a href="/">
    <img src="static/jot.png" alt="logo" class="home-pencil" />
  </a>
</div>
<div style="display: flex; gap: 2rem; flex-direction: row; flex-wrap: wrap">
  <div id="sidebar" style="flex-grow: 1; flex-basis: 8rem">
    <form>
      <div class="jot-textarea-container">
        <textarea
          name="jot-textarea"
          rows="5"
          cols="16"
          placeholder="jot something down..."
        ></textarea>
        <button type="submit">
          <img src="static/plane.svg" alt="submit" />
        </button>
      </div>
    </form>
  </div>
  <div id="notes" style="flex-grow: 3; flex-basis: 16rem">
    {% for note in notes %}
    <div class="note box {{ note.priority }}" id="note-id-{{ note.note_id }}">
      <div>
        <span class="date">{{ note.timestamp }}</span>
        <span style="float: right">
          <button type="button" onclick="dismissNote({{ note.note_id }})">
            <i class="fa-solid fa-box-archive"></i>
          </button>
        </span>
      </div>
      <div>{{ note.text }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  function dismissNote(noteID) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("note-id-" + noteID).style.display = "none";
      }
    };
    xhttp.open("POST", "dismiss/" + noteID);
    xhttp.send();
  }
</script>
{% endblock %}
