<!doctype html>

{% extends 'base' %}
{% block title %}jot | home{% endblock %}
{% block description %}Capture your fleeting thoughts{% endblock %}

{% block contents %}
<span style="float: right;">
    {{ user.name }} (<a href="/logout">logout</a>)
</span>
<h1>
    <a href="/">
        <img src="static/pencil-big.png" alt="logo" class="home-pencil">
        jot
    </a>
</h1>
{% for note in notes %}
<div class="note box {{ note.priority }}" id="note-id-{{ note.note_id }}">
    <div>
        <span class="date">{{ note.timestamp }}</span>
        <span style="float:right;">
            <button type="button" onclick="dismissNote({{ note.note_id }})">
                <i class="fa-solid fa-box-archive"></i>
            </button>
        </span>
    </div>
    <div>{{ note.text }}</div>
</div>
{% endfor %}
<script>
    function dismissNote(noteID) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("note-id-" + noteID).style.display = "none";
            }
        };
        xhttp.open("POST", "dismiss/" + noteID)
        xhttp.send();
    }
</script>
{% endblock %}
