<!doctype html>

{% extends 'base' %}

{% block title %}jot | inbox{% endblock %}

{% block extrascripts %}
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block description %}Capture your fleeting thoughts{% endblock %}

{% block contents %}
<div id="header">
  {% if user is not none %}
  <span style="float: right">
    {{ user.name }} (<a href="logout">logout</a>)
  </span>
  {% endif %}
  <a href="/">
    <img src="static/jot.png" alt="logo" class="home-pencil" />
  </a>
</div>
<div id="app"></div>
<script src="static/inbox.jsx" type="text/babel"></script>
{% endblock %}
