@font-face {
  font-family: orbit;
  src: url(Orbit-Regular.ttf);
}

html {
  font-family: orbit;
  font-variant-ligatures: no-common-ligatures;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contents {
  padding: 1.5rem;
  display: block;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

h1 a {
  font-size: 40px;
  color: black;
}

footer {
  margin: 1em;
  font-size: small;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

footer a {
  color: gray;
}

/* notes */

.box {
  border: 4px solid black;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1em;
  border-radius: 15px;
  transition: all .2s ease-in-out;
}

.box > div{
padding: 0.25rem 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  color: gray;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  color: black;
}

.date {
  /* font-style: italic; */
  color: gray;
}

.HIGH {
  background-color: #f9c0d1;
}

.MED {
  background-color: lightyellow;
}

.LOW {
  background-color: white;
}

/* icons */

.home-pencil {
  position:relative;
  top:8px;
}

.form-pencil {
  position:relative;
  top:7px;
  padding-right:4px;
}

/* form */

.centered-form {
  display: block;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  /* border: 4px solid black; */
  background-color: white;
  border-radius: 15px;
}

form {
  width: 100%;
}

label {
  display: block;
  padding-bottom: 0.1rem;
  font-size: small;
}

input {
  width: 100%;
  padding: 0.4rem;
  display: block;
  box-sizing: border-box;
  margin: 0.5rem 0;
  border: 2px solid gray;
  border-radius: 5px;
}

input[type=submit] {
  margin: 1rem 0;
  font-family: orbit;
  font-size: small;
  background: lavenderblush;
  border: 2px solid palevioletred;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

/* spinner */

.loader {
  color: #fff;
  font-size: 10px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  text-indent: -9999rem;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
                2em -2em 0 0em, 3em 0 0 -1em,
                2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em,
                -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
                3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em,
                -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em,
                2em -2em 0 0, 3em 0 0 0.2em,
                2em 2em 0 0, 0 3em 0 -1em,
                -2em 2em 0 -1em, -3em 0 0 -1em,
                -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
                3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
                -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
                3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
                -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
                3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
                -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
                3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
                3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
                -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
