@font-face {
    font-family: orbit;
    src: url(Orbit-Regular.ttf);
}

html {
    font-family: orbit;
    font-variant-ligatures: no-common-ligatures;
}

#contents {
    padding: 1.5rem;
    display: block;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
}

footer {
    margin: 1em;
    font-size: small;
    text-align: center;
}

a {
    text-decoration: none;
}

footer a {
    color: gray;
}

.note {
    border: 4px solid black;
    padding: 0 1.25em;
    margin-bottom: 1em;
    border-radius: 15px;
}

.note button {
    background: none;
    border: none;
    padding: 0;
    font-size: 1em;
    transition: all .2s ease-in-out;
}

.note button:hover {
    transform: scale(1.5);
}

.date {
    /* font-style: italic; */
    color: gray;
}

.HIGH {
    background-color: #f9c0d1;
}

.MED {
    background-color: lightyellow;
}

.LOW {
    background-color: white;
}
